:root {
   font-family: "Charm", serif;
   background-color: #FFD6AF ;
}
.charm-regular {
  font-family: "Charm", serif;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Charm", serif;
  color: #3F6C51 ; 
}

p {
  font-family: "Roboto Flex", serif;
  color: #481D24 ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 90%;
  padding: 20px 50px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-child) {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000 */

.roboto-flex-font {
  font-family: "Roboto Flex", serif;
  font-weight: 400;
  font-style: normal;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  position: relative;
}

.image2 {
  position: absolute;
  right: -100px;
  transform: scale(0.5);
} 