:root {
   font-family: "Charm", serif;
   background-color: #FFD6AF ;
}

main {
  padding: 0px 60px;
}
.charm-regular {
  font-family: "Charm", serif;
  font-weight: 400;
  font-style: normal;
}

.charm-bold {
  font-family: "Charm", serif;
  font-weight: 700;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Charm", serif;
  color: #3F6C51 ;
  text-align: center;
}

p {
  font-family: "Roboto Flex", serif;
  color: #481D24 ;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 90%;
  padding: 20px 50px;
}


nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li:not(:last-child) {
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
}
.white-water-rafting-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20rem;
}

.white-water-rafting-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 1000 */

.roboto-flex-font {
  font-family: "Roboto Flex", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
 /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
 background-image: linear-gradient(rgba(0, 0, 0, 0.413), rgba(0, 0, 0, 0.413)), url("../images/headline.jpg");

 /* Set a specific height */
 height: 50vh;

 /* Position and center the image to scale nicely on all screens */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
 width: 100%;
}

.container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: white;
  width: 100%;
} 

.container-text h1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  padding: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
 color: white;
 
}

.content img {
  transform: (.85);
}

.content p {
  color: white;
  padding-left: 20px;
}

footer {
  display: flex;
  align-items: center;
  padding-left: 65px;
}

.sociallinks {
  display: flex;
  justify-content: flex-end;
  align-items: center ;
  width: 62%;
  padding: 10px 50px;

}

img {
  width: 200px; 
}

.social-icon {
  width: 50px;
  margin-right: 10px;
}

.photoforview {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 90%;
  padding: 20px  0px;
}

.history-con { 
  width: 400px;
}

.floated {
  float: left;
  width: 150px;
}

.b {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  width: 90%;
  padding: 20px  0px;
}
